@model IEnumerable<DemoMVC.Models.Entities.Customer>

<h2>Danh sách khách hàng</h2>

<a asp-action="Create" class="btn btn-primary">Thêm mới</a>

<table class="table">
    <thead>
        <tr>
            <th>Tên</th>
            <th>Email</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CustomerName</td>
                <td>@item.Email</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CustomerId">Sửa</a> |
                    <a asp-action="Delete" asp-route-id="@item.CustomerId">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>