<h2>Student View index: @ViewBag.ThongBao</h2>
<form asp-action="Index" method="post">
    <input type="text" name="StudentCode" placeholder="Nhập mã sinh viên của bạn" />
    <input type="text" name="FullName" placeholder="Nhập họ tên của bạn" />
    <button type="submit">Gửi dữ liệu</button>
</form>